header {
  padding: 24px 100px 0px;
  .logo {
    width: 120px;
    height: 28px;
    display: flex;
  }
  .haderdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .search {
    width: 196px;
    height: 16px;
    display: flex;
    border-bottom: 1px;
    border-color: #777d59;
    justify-content: bottom;
  }
  .searchdiv {
    width: 164px;
    height: 16px;
    border-bottom: 1px;
    border-color: #777d59;
    justify-content: bottom;
    display: flex;
  }
  .headericons {
    font-size: 16px;
    color: #777d59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .language {
    font-size: 16px;
  }
  .kategoriebisdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
  }
  .kategoriebi {
    // margin-left: 330px;
    width: 820px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #0e1020;
  }
}

.reklama1 {
  background-image: url(../images/Mainphoto.png);
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: 32px;
  padding: 92px 76px;
  box-sizing: border-box;
}
.reklmistexti {
  p {
    font-size: 16px;
    color: #ab1d46;
    display: flex;
    justify-content: flex-start;
  }
  h1 {
    margin-top: 24px;
    font-size: 56px;
    color: #777d59;
    display: flex;
    justify-content: flex-start;
  }
  div {
    margin-top: 48px;
    width: 124px;
    height: 48px;
    background-color: #777d59;
    border-radius: 10px;
    padding: 12px 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
      color: white;
    }
  }
  // left: 60%;

  // transform: translate(-60% -40%);
}
.padding {
  padding: 0px 100px;
  box-sizing: border-box;
}
.karuselisseqcia {
  color: #0e1020;
  font-size: 40px;
  margin-top: 96px;
}
.reklama2 {
  background-image: url(../images/banner2.png);
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: 32px;
  padding: 92px 100px;
  box-sizing: border-box;
}
.banner3 {
  display: flex;

  margin-top: 94px;
  justify-content: space-between;

  width: 100%;
  // justify-content: space-around;
}

.banerisdiv {
  width: 325px;
  height: 572px;

  .div1 {
    background-color: #92977a;
    height: 180px;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 37px;

    p {
      font-size: 32px;
      color: white;
    }
  }
  .div2 {
    background-color: #92977a;
    height: 180px;
    padding: 24px;
    box-sizing: border-box;
    margin-top: 34px;

    p {
      font-size: 32px;
      color: white;
    }
  }
}
.footer {
  background-color: #c9cbbd;
  height: 320px;
  width: 100%;
  margin-top: 120px;
}
