$myFont: Gilda Display;
$Primary10: #777d59;
$Primary9: #858a6a;
$Primary8: #92977a;
$Primary7: #a0a48b;
$Primary6: #adb19b;
$Primary5: #bbbeac;
$Primary4: #c9cbbd;
$Primary3: #d6d8cd;
$Primary2: #e4e5de;
$Primary1: #f1f2ee;
